<main>
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"><i class="fa fa-fw fa-home"></i>Inicio</a></li>
            <li class="breadcrumb-item"><a href="/administrar"><i class="fa fa-fw fa-cogs"></i>Administrar</a></li>
            <li class="breadcrumb-item active"><i class="fa fa-fw fa-tags"></i>Referendos</li>
        </ol>
    </div>
    <div class="container">
        <div class="jumbotron py-4">
            <h1 class="display-6">Referendos</h1>
            <p class="lead">Los referendos permiten a los miembros participar directamente en la toma de decisiones
                importantes que afectan la cooperativa y sus políticas.</p>
            <hr class="my-4">
            <p>Al hacer click se iniciara con un nuevo referendo de participación.</p>
            <p class="lead">
                <a class="btn btn-outline-primary btn-lg" href="/administrar/referendos/nuevo" role="button">
                    <i class="fa fa-fw fa-plus-circle"></i>
                    Crear nuevo referendo de participación
                </a>
            </p>
        </div>
    </div>

    <div class="container">
        <div class="card border-primary mb-3">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="display-5">Referendos Planificados</h4>
            </div>
            <div class="card-body">
                <div id="toolbarPlanned">
                    <div class="h5">Total referendos planificados: {{count planificados}}</div>
                </div>
                <table class="table table-condensed text-small" id=tablePlanned data-toggle=tablePlanned
                    data-toolbar="#toolbarPlanned" data-locale="es-ES" data-search="true" data-advanced-search="false"
                    data-show-columns-toggle-all="true" data-detail-view="true"
                    data-detail-formatter="detailFormatterPlanned" data-sortable="true" data-minimum-count-columns="2"
                    data-show-pagination-switch="false" data-pagination="true" data-id-field="id"
                    data-page-list="[5, 10, 15, 20, all]" data-show-footer="false"
                    data-response-handler="responseHandler" data-export-types="['json','csv','xlsx','pdf']"
                    data-mobile-responsive="true">
                    <thead>
                        <tr>
                            <th data-field="titulo" data-sortable="true" class="flexible-width">Titulo</th>
                            <th data-field="descripcion" data-sortable="true" class="flexible-width">Descripción</th>
                            <th data-field="fecha_inicio" data-sortable="true" class="fixed-width">Fecha Inicio</th>
                            <th data-field="fecha_final" data-sortable=" true" class="fixed-width">Fecha Final</th>
                        </tr>
                    </thead>

                    <tbody>
                        {{#each planificados}}
                        <tr id="{{id}}">
                            <td>{{titulo}}</td>
                            <td>{{descripcion}}</td>
                            <td>{{fecha_inicio}}</td>
                            <td>{{fecha_final}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="card border-primary mb-3">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="display-5">Referendos Programados</h4>
            </div>
            <div class="card-body">
                <div id="toolbarScheduled">
                    <div class="h5">Total referendos programados: {{count programados}}</div>
                </div>
                <table class="table table-condensed text-small" id=tableScheduled data-toggle=tableScheduled
                    data-toolbar="#toolbarScheduled" data-locale="es-ES" data-search="true" data-advanced-search="false"
                    data-show-columns-toggle-all="true" data-detail-view="true"
                    data-detail-formatter="detailFormatterScheduled" data-sortable="true" data-minimum-count-columns="2"
                    data-show-pagination-switch="false" data-pagination="true"
                    data-page-list="[5, 10, 15, 20, all]" data-show-footer="false"
                    data-response-handler="responseHandler" data-export-types="['json','csv','xlsx','pdf']"
                    data-mobile-responsive="true">

                    <thead>
                        <tr>
                            <th data-field="titulo" data-sortable="true" class="flexible-width">Titulo</th>
                            <th data-field="descripcion" data-sortable="true" class="flexible-width">Descripción</th>
                            <th data-field="fecha_inicio" data-sortable="true" class="fixed-width">Fecha Inicio</th>
                            <th data-field="fecha_final" data-sortable=" true" class="fixed-width">Fecha Final</th>
                        </tr>
                    </thead>

                    <tbody>
                        {{#each programados}}
                        <tr id="{{id}}">
                            <td>{{titulo}}</td>
                            <td>{{descripcion}}</td>
                            <td>{{fecha_inicio}}</td>
                            <td>{{fecha_final}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card border-primary mb-3">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="display-5">Referendos en Ejecución</h4>
            </div>
            <div class="card-body">
                <div id="toolbarExecuted">
                    <div class="h5">Total referendos ejecutados: {{count ejecutados}}</div>
                </div>
                <table class="table table-condensed text-small" id=tableExecuted data-toggle=tableExecuted
                    data-toolbar="#toolbarExecuted" data-locale="es-ES" data-search="true" data-advanced-search="false"
                    data-show-columns-toggle-all="true" data-detail-view="true"
                    data-detail-formatter="detailFormatterExecuted" data-sortable="true" data-minimum-count-columns="2"
                    data-show-pagination-switch="false" data-pagination="true"
                    data-page-list="[5, 10, 15, 20, all]" data-show-footer="false"
                    data-response-handler="responseHandler" data-export-types="['json','csv','xlsx','pdf']"
                    data-mobile-responsive="true">

                    <thead>
                        <tr>
                            <th data-field="titulo" data-sortable="true" class="flexible-width">Titulo</th>
                            <th data-field="descripcion" data-sortable="true" class="flexible-width">Descripción</th>
                            <th data-field="fecha_inicio" data-sortable="true" class="fixed-width">Fecha Inicio</th>
                            <th data-field="fecha_final" data-sortable=" true" class="fixed-width">Fecha Final</th>
                        </tr>
                    </thead>

                    <tbody>
                        {{#each ejecutados}}
                        <tr id="{{id}}">
                            <td>{{titulo}}</td>
                            <td>{{descripcion}}</td>
                            <td>{{fecha_inicio}}</td>
                            <td>{{fecha_final}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        var $tablePlanned = $('#tablePlanned');
        var fileName = `Referendos Planificadas [${moment().format('YYYY-MM-DD HH.mm.ss')}]`;
        $tablePlanned.bootstrapTable({
            exportOptions: {
                fileName: fileName, // Cambia 'CustomFileName' por el nombre de archivo deseado
                worksheetName: 'Referendos Planificadas' // Cambia 'CustomSheetName' por el nombre de la hoja deseada (opcional)
            }
        });
        var $tableScheduled = $('#tableScheduled');
        $tableScheduled.bootstrapTable({
            exportOptions: {
                fileName: fileName, // Cambia 'CustomFileName' por el nombre de archivo deseado
                worksheetName: 'Referensos Programadas' // Cambia 'CustomSheetName' por el nombre de la hoja deseada (opcional)
            }
        });
        var $tableExecuted = $('#tableExecuted');
        var fileName = `Referendos Ejecutados [${moment().format('YYYY-MM-DD HH.mm.ss')}]`;
        $tableExecuted.bootstrapTable({
            exportOptions: {
                fileName: fileName, // Cambia 'CustomFileName' por el nombre de archivo deseado
                worksheetName: 'Referendos Ejecutados' // Cambia 'CustomSheetName' por el nombre de la hoja deseada (opcional)
            }
        });
    });
    function editar(id) {
        window.location.href = `/administrar/referendos/editar/${id}`;
    };
    function programar(id) {
        window.location.href = `/administrar/referendos/programar/${id}`;
    };
    function eliminar(id, titulo, descripcion,) {
        console.log('id:' + id);
        Swal.fire({
            title: "Deseas Eliminar el Referéndum?",
            html: `<b>${titulo}</b><br>${descripcion}`,
            icon: "question",
            showCancelButton: true,
            confirmButtonText: "Eliminar",
            cancelButtonText: "Cancelar"
        }).then((result) => {
            if (result.isConfirmed) {
                $.post(`/administrar/referendos/eliminar/${id}`, // url
                    { 'id': id } // data to be submit
                ).done(function (data) {
                    Swal.fire({
                        title: "Referéndum Eliminado",
                        text: "Se ha eliminado el Referéndum correctamente.",
                        icon: "success",
                        timer: 10000
                    }).then(() => {
                        window.location.href = '/administrar/referendos';
                    });
                }).fail(function () {
                    Swal.fire({
                        title: "Ocurrió un error!",
                        text: "No se pudo eliminar el proceso electoral.",
                        icon: "error",
                        timer: 10000
                    }).then(() => {
                        window.location.href = '/administrar/referendos';
                    });
                });
            }
        });
    };
    function detailFormatterPlanned(index, row) {
        var html = '';
        var indexs = 0;
        var data = {};
        $.each(row, function (key, value) {
            var columns = $("th:eq(" + (indexs + 1) + ")").data("field")
            if (columns != undefined) {
                data[columns] = row[columns];
                indexs++;
            }
        });
        html =
            `<div class="card border-primary">
                <div class="card-footer d-flex justify-content-between">
                    <!-- Contenedor para los tres botones -->
                    <div>
                        <button class="btn btn-outline-info mx-1" onClick="editar('${row._id}')">
                            <i class="fa fa-fw fa-edit"></i>
                            Editar
                        </button>
                        <button class="btn btn-outline-warning mx-1" onClick="programar('${row._id}')">
                            <i class="fa fa-fw fa-file-text"></i>
                            Programar
                        </button>
                        <button class="btn btn-outline-primary mx-1" onClick="eliminar('${row._id}', '${data.titulo}', ' ${data.descripcion}')">
                            <i class="fa fa-fw fa-trash"></i>
                            Eliminar
                        </button>
                    </div>
                    <!-- Botón Finalizar Planificación -->
                    <a href="/administrar/referendos/programar/finalizar/${row._id}" class="btn btn-outline-success ml-auto">
                        <i class="fa fa-fw fa-check-square-o"></i> Finalizar Planificación
                    </a>
                </div>
            </div>`
        return html
    };
    function detailFormatterScheduled(index, row) {
        var html = '';
        var indexs = 0;
        var data = {};
        $.each(row, function (key, value) {
            var columns = $("th:eq(" + (indexs + 1) + ")").data("field")
            if (columns != undefined) {
                data[columns] = row[columns];
                indexs++;
            }
        });
        html =
            `<div class="card border-primary">
                <div class="card-footer d-flex justify-content-between">
                    <!-- Contenedor para los tres botones -->
                    <div>
                        <a href="/administrar/referendos/programar/actualizar/${row._id}" class="btn btn-outline-info ml-auto">
                            <i class="fa fa-fw fa-undo"></i> Modificar Programación
                        </a>
                    </div>
                    <!-- Botón Finalizar Programación -->
                    <a href="/administrar/referendos/ejecutar/${row._id}" class="btn btn-outline-primary ml-auto">
                        <i class="fa fa-fw fa-check-square-o"></i> Iniciar Votación
                    </a>
                </div>
            </div>`
        return html
    };
    function detailFormatterExecuted(index, row) {
        var html = '';
        var indexs = 0;
        var data = {};
        $.each(row, function (key, value) {
            var columns = $("th:eq(" + (indexs + 1) + ")").data("field")
            if (columns != undefined) {
                data[columns] = row[columns];
                indexs++;
            }
        });
        html =
            `<div class="card border-primary">
                <div class="card-footer d-flex justify-content-between">
                    <!-- Botón Finalizar Programación -->
                    <a href="/inicio/referendos/resultado/${row._id}" class="btn btn-outline-primary ml-auto">
                        <i class="fa fa-fw fa-check-square-o"></i> Ver resultados
                    </a>
                </div>
            </div>`
        return html
    };

</script>